
/*Validation forms*/
$validation-border: #bfbfbf;
$validation-inputs-border: #ededed;
$validation-inputs-border-focus: #9b9b9b;

/*Chat Window*/
$chat-window-border: #bfbfbf;
$chat-window-background: #edfffc;
$chat-header-border: #474747;
$chat-header-background: #d1d1d1;
$chat-conversation-border: rgba(41, 0, 28, 0.63);
$chat-conversation-background: #bfbca8;
$chat-message-background: #bfbfbf;
$chat-message-border: #bfbfbf;

/*Contact List*/
$contact-list-window-border: #bfbfbf;
$contact-list-window-background: #edfffc;
$contact-list-header-border: #474747;
$contact-list-header-background: #d1d1d1;
$contact-list-list-border: #474747;
$contact-list-list-background: #d1d1d1;
