@import "../../../scss/global";
@import "../../../scss/abstracts/mixins";

.contact-list {
  @include flexCenter(column);
  width: 240px;
  height: 640px;
  border: 1px solid $contact-list-window-border;
  background: $contact-list-window-background;

  &__header {
    @include flexCenter(column);
    border: 1px solid $contact-list-header-border;
    background: $contact-list-header-background;
    width: 100%;
    height: 60px;
  }

  &__list {
    border: 1px solid $contact-list-list-border;
    background: $contact-list-list-background;
    height: 100%;
    width: 100%;
  }
}
